    🐚🌞🌿〰REQUISITOS〰🐕
--------------------------------------       ******************
🌷 pyrebase 4                               ********************
🌷 neofetch                                 ******O*****O*******
🌷 web.py 0.62                              ***=************=***
🌷 python ??                                *********U**********
🌷 gunicorn 20.1.0                          ********************
                                        |   ********************   |    |    |    |    |
                                        |    ******************    |    |    |    |    |       