<html>
<head>
<meta charset title="utf-8">
<title>Inicio </title>
</head>
<body>
<style>
div{
	display:inline-block;
}
ul{
	list-style: none;
}
li a{
	border-radius:10px;
	 font-family:Century Gothic;
	background-color: #b5f7d1;
	color:white; 
	text-decoration:none;
	padding:20px;
	margin: 30px;
	display:block;
}
a:hover
{
   background:rgb(255, 205, 253);
}

.minu{
margin:60px;
}
</style>
<div>

<table BORDER=0  align="center"><TR>
    <TD class="contenedor" WIDTH="1028" HEIGHT="400">
        <p><p class="clew">Bienvenido</p>
        <font size="4%"><p>Administrador</p></font>
        <BR>
    </TD>
    <TD>
        <table class="minu" border=0px>
            <tr><th>
            <ul class="indice" align="center">
                <li><a href="/users_list">Ver usuarios</li></a>
                <li><a href="/sucursales">Ver sucursales</li></a>
            </ul>
            </th> </tr>
        </table>
    </TD>
    </TR></table>
 </div>
 </body>
</html>
