<html>
    <head>
        <title>Bienvenido</title>
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <p>
        <h1>PRODUCTOS</h1>
        <h1>CLEW</h1>
        <p>Contacto: 7751442398</p>
        <a href="/">Logout</a>
        <a href="/registrar">Sign it</a>
    </p>
        <img src="https://img.freepik.com/foto-gratis/conjunto-productos-limpieza-sobre-fondo-color-amarillo_93675-123055.jpg" width="1050" height="800">  
    </body>
</html>