<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
        <style> 
         .cuadrado{
            background-color: rgb(238, 185, 235);
            width: 300px;
            height: 300px;
            border-radius: 20%;
            float:left; 
            display:block;
            text-align:center;
        }
        .cuadrado2{
            background-color: #B9F1CF;
            width: 300px;
            height: 300px;
            border-radius: 20%;
            float:left; 
            display:block;
            text-align:center;
        }
        </style>  
    </head>
    <body>
        <p>
        <p>Contacto: 7751442398</p>
        <a href="/">Logout</a>
        <a href="/registrar">Sign it</a>
    </p>
    </body>
    <br>
    <div class="burbujas" >
    <br>
    <br>
    <div class="cuadrado" align="center">
    </div>
    <div class="cuadrado2" align="center">
    </div>
<br>
<br>
    <br>
</div>
</html>